# Variables de entorno para Firebase
# Reemplaza estos valores con los de tu proyecto Firebase

VITE_FIREBASE_API_KEY=AIzaSyAYjlXDEbBa6PSfPNk8Ly6zHvscvHbO9rk
VITE_FIREBASE_AUTH_DOMAIN=nubix-landing.firebaseapp.com
VITE_FIREBASE_PROJECT_ID=nubix-landing
VITE_FIREBASE_STORAGE_BUCKET=nubix-landing.firebasestorage.app
VITE_FIREBASE_MESSAGING_SENDER_ID=352425336422
VITE_FIREBASE_APP_ID=1:352425336422:web:1fc16f345999fd126c57a7
VITE_FIREBASE_MEASUREMENT_ID=G-FT5EPK388W